# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
build/
*.ipa

# SwiftPM
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
.DS_Store